<div class="topbar">
    <div class="container">
        <div class="topbar-contact">
            <span><i class="fas fa-phone-alt"></i> Office: <a href="tel:<%= sitePhone %>"><%= sitePhone %></a></span>
            
        </div>
        <div class="topbar-actions">
            <a href="/booking" class="btn-booking">Book Consultation</a>
            <span class="topbar-license">CCB #<%= ccbLicense %></span>
        </div>
    </div>
</div>